@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background: #0d1a2d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

